<!DOCTYPE html>
<html>
  <head>
    <title>Who's the face of TWBR?"</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
  
    <h1>Who is <%= @to_guess.name %>?</h1>
    <h2>Progress: <%= @progress %>/<%= @total %><h2>

    <form id="guess_form" action="/guess" method="post" >
      <input type="hidden" name="correct" value="<%= @to_guess.id %>" />
      <input type="hidden" id="guess" name="guess" />
      <div>
        <span><img src="/pics/<%= @pics[0].link %>" id="<%= @pics[0].id %>" class="tw_face" width="220" height="250" /></span>
        <span><img src="/pics/<%= @pics[1].link %>" id="<%= @pics[1].id %>" class="tw_face" width="220" height="250" /></span>
      </div>
      <div>
        <span><img src="/pics/<%= @pics[2].link %>" id="<%= @pics[2].id %>" class="tw_face" width="220" height="250" /></span>
        <span><img src="/pics/<%= @pics[3].link %>" id="<%= @pics[3].id %>" class="tw_face" width="220" height="250" /></span>
      </div>
      <br />
    </form>

  </body>
</html>

