<h2>Who is <%= @to_guess.name %>?</h2>

<div>
  Progress: <%= @progress %>/<%= @total %>
</div>

<form action="/guess" method="post" >
  <input type="hidden" name="correct" value="<%= @to_guess.link %>" />
  <input type="hidden" name="id" value="<%= @to_guess.id %>" />
  <% @pics.each do |pic| %> 
    <span>
      <input type="radio" name="guess" value="<%= pic.link %>" />
      <img src="/<%= pic.link %>" width="220" height="250" />
    </span>
  <% end %>
  <br />
  <input type="submit" value="This is the one!" />
</form>
